
body {
    text-align: center;
    padding: 0;
    margin: 0;
    font-family: "Segoe UI";
}

.title {
    background-color: rgb(119, 19, 38);
    color: white;
    font-size: 26px;
    font-weight: bold;
}

.f-md {
    font-size: 22px !important;
}


.info {
    background-color: rgb(242, 242, 242);
}

    .info td {
        font-size: 16px;
        border-bottom: 3px solid white;
    }

        .info td:first-child {
            color: #0a6f6d;
            font-weight: bold;
        }

        .info td:nth-child(2) {
            border-left: 3px solid white;
        }

.table {
    width: 100%;
    border-collapse: collapse;
    /*border: 4px solid #0a6f6d;*/
}

    .table:first-child {
        border-bottom: 0;
        margin-bottom: -1px;
    }

    .table:nth-child(2) {
        border-top: 0;
    }

td, th {
    text-align: center;
    height: 40px;
    font-size: 15px;
}

.t-header th {
    border-top: 3px solid white;
}

    .t-header th:first-child {
        /*border-left: 3px solid #0a6f6d;*/
    }

/*.t-header th:nth-child(4) {
        border-right: 3px solid #0a6f6d;
    }*/


.table th {
    background-color: rgb(79, 129, 189);
    font-weight: bold;
    height: 50px;
    font-size: 16px;
    color: white;
}


tr.data td:not(:last-child):not(.group-header) {
    border-left: 3px solid white;
    border-right: 3px solid white;
}

/*tr.data td:nth-child(4) {
    border-right: 3px solid #0a6f6d;
}*/

.footer {
    background-color: rgb(220, 230, 241);
    font-weight: bold;
}

.logo {
    height: 120px;
    /*background-image: url(/assets/images/logo_EWE.png);
    background-position: center;
    background-size: 70%;
    background-repeat: no-repeat;
    height: 133px;*/
}

    .logo img {
        width: 70%;
        height: auto;
    }

.row-sep {
    height: 16px;
    background-color: #0a6f6d;
    border-left: 3px solid white;
    border-right: 3px solid white;
}

.col-sep {
    background-color: #0a6f6d;
}

    .col-sep td {
        /*border-left: 3px solid #0a6f6d;*/
    }

.dates {
    border-collapse: collapse;
    border: 0;
}

    .dates td:first-child {
        text-align: right;
    }

    .dates td:last-child {
        text-align: center;
    }

.control td {
    height: 0;
    padding: 0 !important;
}

    .control td:nth-child(1) {
        width: 20%;
    }

    .control td:nth-child(2) {
        width: 35%
    }

    .control td:nth-child(3) {
        width: 25%
    }

    .control td:nth-child(4) {
        width: 20%;
    }

.green {
    color: #28a745 !important;
}

.red {
    color: #dc3545 !important;
}

.blue {
    color: #007bff !important;
}

.ltr {
    direction: ltr;
}

.rtl {
    direction: rtl;
}

.d-inline {
    display: inline-block;
}

.text-info {
    color: #17a2b8 !important;
}

.sep-table {
    border: 4px solid #0a6f6d;
    margin-bottom: 5px;
}

.sep-header th {
    border-top: 3px solid #0a6f6d;
}

.sep-header td {
    height: 50px;
    font-size: 16px;
}

.sep-table:nth-child(2) {
    border-top: 4px solid #0a6f6d !important;
}

.day-sep {
    border-bottom: 1px solid #9BC2E6 !important;
}

.align-middle {
    vertical-align: middle !important;
}

.table-group-header {
    width: 100%;
    border-collapse: collapse;
}

    .table-group-header th:not(.group-header), .table-group-header td:not(.group-header) {
        border: 1px solid #dee2e6;
        padding: 10px 0;
    }

    .table-group-header > .table th, .table td {
        padding: 2px;
    }

.group-header {
    padding: 0;
}

    .group-header table {
        margin-bottom: 0 !important;
        height: 100%;
    }

        .group-header table td {
            border: 1px solid #dee2e6 !important;
            padding: 5px 5px !important;
            width: 33.3% !important;
        }

.text-danger {
    color: #dc3545 !important;
}

.text-bold {
    font-weight: 700;
}

.fa {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}


.fa-arrow-up {
    transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
}

    .fa-arrow-up:before {
        content: "\2799";
    }

.fa-arrow-down {
    transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
}

    .fa-arrow-down:before {
        content: "\2799";
    }

.fa-random:before {
    content: "\219D";
}

.text-success {
    color: #28a745 !important;
}
