                        <!-- Right Sidebar starts -->
<div class="modal modal-slide-in sidebar-todo-modal fade" id="new-task-modal">
    <div class="modal-dialog sidebar-lg">
        <div class="modal-content p-0">
            <form id="form-modal-todo" class="todo-modal needs-validation" novalidate onsubmit="return false">
                <div class="modal-header align-items-center mb-1">
                    <h5 class="modal-title"></h5>
                    @*<div class="todo-item-action d-flex align-items-center justify-content-between ml-auto">
                        <span class="todo-item-favorite cursor-pointer mr-75"><i data-feather="star" class="font-medium-2"></i></span>
                        <button type="button" class="close font-large-1 font-weight-normal py-0" data-dismiss="modal" aria-label="Close">
                            ×
                        </button>
                    </div>*@
                </div>
                <div class="modal-body flex-grow-1 pb-sm-0 pb-3">
                   
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Right Sidebar ends -->