@font-face {
    font-family: "arabic kufi";
    src: url('../fonts/DroidArabicKufi.ttf');
}

body {
    margin: 0;
    font-family: 'arabic kufi',"Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #ffffff;
    direction: rtl;
    text-align: right;
    margin-bottom: 60px;
}
    .navigation {
    font-size: 1.1rem;
    font-family: 'arabic kufi',"Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
}


/*start custom pagination*/


    .pagination {
        display: inline-block;
        padding-right: 0;
        margin: 20px 0;
        border-radius: 4px;
    }

    .pagination > li {
        display: inline;
    }

    .pagination > li > a {
        background: #fafafa;
        color: #666;
    }

    .pagination > li > a, .pagination > li > span {
        border-radius: 50%;
        margin: 3px
    }

    .pagination > .active > a,
    .pagination > .active > span,
    .pagination > .active > a:hover,
    .pagination > .active > span:hover,
    .pagination > .active > a:focus,
    .pagination > .active > span:focus {
        z-index: 3;
        color: #fff;
        background-color: #00CFE8;
        border-color: #337ab7;
        cursor: default;
    }


    .pagination > li > a, .pagination > li > span {
        position: relative;
        float: right;
        padding: 6px 12px;
        line-height: 1.42857143;
        text-decoration: none;
        color: #337ab7;
        background-color: #fff;
        border: 1px solid #ddd;
        border-top-color: rgb(221, 221, 221);
        border-right-color: rgb(221, 221, 221);
        border-bottom-color: rgb(221, 221, 221);
        border-left-color: rgb(221, 221, 221);
        margin-right: -1px;
    }


/*end custom pagination*/


/*start fix footable table*/
@media only screen and (min-device-width: 768px) {
    .table th, .table td {
        padding: 0.75rem;
        vertical-align: middle;
    }
}
/*end fix footable table*/


/* start custom star require*/

star::before {
    content: "*";
}

star {
    color: red;
}
/* end custom star require*/

.ltr {
    direction: ltr !important;
}

/*hide vue moustache on load*/
[v-cloak] {
    display: none;
}


.text-muted {
    color: #313133 !important;
}

/*start fix menue*/
.main-menu .navbar-header .navbar-brand .brand-text {
    font-size: 1.30rem !important;
}

.main-menu .navbar-header .navbar-brand .brand-logo img {
    max-width: 153px !important;
}
/*end fix menue*/

.text-left {
    text-align: left !important;
}
.main-menu .navbar-header .navbar-brand .brand-logo img {
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: cover !important;
    height: 53px !important;
    width: auto !important;
}

/*start fix home page*/
.dark-layout .home a {
    color: #B4B7BD !important;
}
.home a {
    color: #212529 !important;
}
/*end fix home page*/

.pull-opp-dir {
    float: left !important;
}
.dark-layout .form-control {
    background-color: #283046 !important;
    border-color: #404656 !important;
}

/* start style color for theme*/
.main-menu.menu-dark .navigation > li.active > a,
.main-menu.menu-dark .navigation > li ul .active,
.main-menu.menu-light .navigation > li ul .active,
.main-menu.menu-light .navigation > li.active > a {
    background: -webkit-linear-gradient(208deg, #173987, rgb(23 57 135)) !important;
    background: linear-gradient(-118deg, #173987, rgb(23 57 135)) !important;
    box-shadow: none !important;
    color: #FFFFFF;
    font-weight: 400;
    border-radius: 4px;
}

.btn-primary {
    border-color: #173987 !important;
    background-color: #173987 !important;
    color: #FFFFFF !important;
}

.btn-primary:hover:not(.disabled):not(:disabled) {
    box-shadow: 0 8px 25px -8px #173987 !important;
}

.btn-primary:focus, .btn-primary:active, .btn-primary.active {
    color: #FFFFFF;
    background-color: #173987 !important;
}

.navigation > li.sidebar-group-active > a {
    color: #fff !important;
}
/* end style color for theme*/

.navigation > li.sidebar-group-active > a {
    color: #625F6E !important;
}